@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Welcome to Quidditch Simulator 2017. Here you can register a team, create players, and watch as your team prospers or fails in the grand game of Quidditch! 

        <br />
        <br />
        <input type="button" value="Register a Team" onclick="@("window.location.href='" + @Url.Action("registerNewTeam", "Team") + "'");" />



    </div>
</body>
</html>

<script>




</script>
